#Aztools616766349 {
  padding-top: 120px;
  background: #282735;
}
#Aztools616766349 .filter-bar {
  position: fixed;
  left: 0;
  top: 60px;
  right: 0;
  z-index: 10000;
  background: #191927;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
}
#Aztools616766349 .filter-bar input,
#Aztools616766349 .filter-bar select,
#Aztools616766349 .filter-bar button {
  border: none;
  background: transparent;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  height: 36px;
  vertical-align: middle;
}
#Aztools616766349 .filter-bar select option {
  background: #000;
}
#Aztools616766349 .filter-bar input {
  padding: 0 10px;
}
#Aztools616766349 .filter-bar button {
  background: #1296db;
  cursor: pointer;
  text-align: center;
  width: 80px;
}
#Aztools616766349 .filter-bar button:hover {
  background: #05a4f8;
}
@media screen and (max-width: 375px) {
  #Aztools616766349 .filter-bar #searchText {
    display: none!important;
  }
}
@media screen and (max-width: 320px) {
  #Aztools616766349 #reload {
    display: none!important;
  }
}
